In [161]:
import pandas as pd
%matplotlib inline

In [162]:
data=pd.read_csv('data/adult_data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных?

In [163]:
m=len(data[data.sex=='Male'])
f=len(data[data.sex=='Female'])
print("females",f,'\nmales',m)

females 10771
males 21790

### 2. Каков средний возраст (признак age) женщин?

In [164]:
data[data.sex=='Female']['age'].mean()

36.85823043357163

### 3. Какова доля граждан Германии (признак native-country)?

In [165]:
len(data[data['native-country']=='Germany'])/len(data)

0.004207487485028101

### 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?

In [166]:
data[data.salary=='<=50K']['age'].mean(),\
data[data.salary=='<=50K']['age'].std()

(36.78373786407767, 14.020088490824813)

In [167]:
data[data.salary!='<=50K']['age'].mean(),\
data[data.salary!='<=50K']['age'].std()

(44.24984058155847, 10.51902771985177)

### 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

In [168]:
g=len(data[(data.salary=='>50K')&((data.education!='Bachelors')
                            |(data.education!='Prof-school')
                            |(data.education!='Assoc-acdm')
                            |(data.education!='Assoc-voc')
                            |(data.education!='Masters')
                            |(data.education!='Doctorate'))])
if g==0:
    print('Правда')
else:
    print('Ложь')

Ложь

### 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.

In [169]:
data.groupby('race')['age'].describe(),\
data.groupby('race')['sex'].describe()

(                      count       mean        std   min   25%   50%   75%  \
 race
 Amer-Indian-Eskimo    311.0  37.173633  12.447130  17.0  28.0  35.0  45.5
 Asian-Pac-Islander   1039.0  37.746872  12.825133  17.0  28.0  36.0  45.0
 Black                3124.0  37.767926  12.759290  17.0  28.0  36.0  46.0
 Other                 271.0  33.457565  11.538865  17.0  25.0  31.0  41.0
 White               27816.0  38.769881  13.782306  17.0  28.0  37.0  48.0

                      max
 race
 Amer-Indian-Eskimo  82.0
 Asian-Pac-Islander  90.0
 Black               90.0
 Other               77.0
 White               90.0  ,                     count unique   top   freq
 race
 Amer-Indian-Eskimo    311      2  Male    192
 Asian-Pac-Islander   1039      2  Male    693
 Black                3124      2  Male   1569
 Other                 271      2  Male    162
 White               27816      2  Male  19174)

In [170]:
data[(data.race=='Amer-Indian-Eskimo')&(data.sex=='Male')]['age'].max()

82

### 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

In [171]:
al=len(data[(data['sex']=='Male')&
     (data['salary']=='>50K')])
mer=len(data[(data['sex']=='Male')&
     (data['salary']=='>50K')&
     ((data['marital-status']=='Married-civ-spouse')
      |(data['marital-status']=='Married-spouse-absent')
      |(data['marital-status']=='Married-AF-spouse'))])
sin=len(data[(data['sex']=='Male')&
     (data['salary']=='>50K')&
     ((data['marital-status']!='Married-civ-spouse')
      |(data['marital-status']!='Married-spouse-absent')
      |(data['marital-status']!='Married-AF-spouse'))])
print('single men ',sin,'\nmarried men ',mer)
if(mer>sin):
       print ('married earn more')
else:
       print('single earn more')

single men  6662
married men  5965
single earn more

### 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?

In [176]:
max=data['hours-per-week'].max()
people=len(data[data['hours-per-week']==99])
more=len(data[(data['hours-per-week']==max)&(data['salary']=='>50K')])/people*100
print('Hours ',max,'\nPeople',people,'\nPercentage', more)

Hours  99
People 85
Percentage 29.411764705882355

### 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).

In [193]:
m=data[data['salary']=='>50K']
l=data[data['salary']=='<=50K']
m.groupby('native-country')['hours-per-week'].mean(),\
l.groupby('native-country')['hours-per-week'].mean()

(native-country
 ?                     45.547945
 Cambodia              40.000000
 Canada                45.641026
 China                 38.900000
 Columbia              50.000000
 Cuba                  42.440000
 Dominican-Republic    47.000000
 Ecuador               48.750000
 El-Salvador           45.000000
 England               44.533333
 France                50.750000
 Germany               44.977273
 Greece                50.625000
 Guatemala             36.666667
 Haiti                 42.750000
 Honduras              60.000000
 Hong                  45.000000
 Hungary               50.000000
 India                 46.475000
 Iran                  47.500000
 Ireland               48.000000
 Italy                 45.400000
 Jamaica               41.100000
 Japan                 47.958333
 Laos                  40.000000
 Mexico                46.575758
 Nicaragua             37.500000
 Peru                  40.000000
 Philippines           43.032787
 Poland                39.000000
 Portugal              41.500000
 Puerto-Rico           39.416667
 Scotland              46.666667
 South                 51.437500
 Taiwan                46.800000
 Thailand              58.333333
 Trinadad&Tobago       40.000000
 United-States         45.505369
 Vietnam               39.200000
 Yugoslavia            49.500000
 Name: hours-per-week, dtype: float64, native-country
 ?                             40.164760
 Cambodia                      41.416667
 Canada                        37.914634
 China                         37.381818
 Columbia                      38.684211
 Cuba                          37.985714
 Dominican-Republic            42.338235
 Ecuador                       38.041667
 El-Salvador                   36.030928
 England                       40.483333
 France                        41.058824
 Germany                       39.139785
 Greece                        41.809524
 Guatemala                     39.360656
 Haiti                         36.325000
 Holand-Netherlands            40.000000
 Honduras                      34.333333
 Hong                          39.142857
 Hungary                       31.300000
 India                         38.233333
 Iran                          41.440000
 Ireland                       40.947368
 Italy                         39.625000
 Jamaica                       38.239437
 Japan                         41.000000
 Laos                          40.375000
 Mexico                        40.003279
 Nicaragua                     36.093750
 Outlying-US(Guam-USVI-etc)    41.857143
 Peru                          35.068966
 Philippines                   38.065693
 Poland                        38.166667
 Portugal                      41.939394
 Puerto-Rico                   38.470588
 Scotland                      39.444444
 South                         40.156250
 Taiwan                        33.774194
 Thailand                      42.866667
 Trinadad&Tobago               37.058824
 United-States                 38.799127
 Vietnam                       37.193548
 Yugoslavia                    41.600000
 Name: hours-per-week, dtype: float64)

In [194]:
data['is_rich']=(data['salary']=='>50K')

In [195]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary,is_rich
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K,False
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K,False
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K,False
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K,False
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K,False